@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@theme {
  --color-primary: #002300;
  --color-success: #357904;
  --color-mint: #A6D3BC;
  --color-sky: #699BC9;
  --color-blue: #255CB8;
  --font-sans: 'Inter', sans-serif; 
}

html, body {
  height: 100%;
  font-family: var(--font-sans);
}

.custom-scroll {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.word-break {
  word-wrap: break-word;
  word-break: break-word;
}
