.content {
    padding: 24px;

}

.my-sidenav-container {
  height: 100vh;
  margin-left: 0.1rem;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
}
mat-toolbar {
    position: relative;
    z-index: 5;
}

