<div class="chat-section flex flex-col h-full">
  <div
    #messageScroll
    class="flex-1 custom-scroll overflow-y-auto p-4 flex flex-col gap-2"
    style="overscroll-behavior-y: contain"
  >
    <div
      class="message max-w-[85%] md:max-w-[70%]"
      *ngFor="let item of chatService.chatMessages(); let i = index"
      [ngClass]="{
        'self-end': item.senderId === authService.currentLoggedUser?.id,
        'self-start': item.senderId !== authService.currentLoggedUser?.id,
      }"
    >
      <div class="flex items-end gap-2">
        @if (item.senderId === authService.currentLoggedUser?.id) {
          <span class="text-gray-400 hover:text-primary mb-2 transition-colors">
            <mat-icon
              (click)="addReplyMessage(item)"
              class="cursor-pointer text-[20px] w-[20px] h-[20px]"
              >reply</mat-icon
            >
          </span>
        }

        <div
          class="p-2 rounded-xl shadow-sm text-sm md:text-base relative min-w-[120px]"
          [ngClass]="{
            'bg-mint rounded-br-none text-slate-800':
              item.senderId === authService.currentLoggedUser?.id,
            'bg-gray-100 rounded-bl-none text-gray-800':
              item.senderId !== authService.currentLoggedUser?.id,
          }"
        >
          <div
            *ngIf="item.replyMessageContent"
            class="mb-2 p-1 rounded bg-black/5 border-l-4 text-xs flex flex-col cursor-pointer hover:bg-black/10 transition"
            [ngClass]="{
              'border-primary':
                item.senderId === authService.currentLoggedUser?.id,
              'border-gray-400':
                item.senderId !== authService.currentLoggedUser?.id,
            }"
          >
            <span class="font-bold text-primar">
              {{ item.replyMessageSenderName || "Користувач" }}
            </span>
            <span class="truncate opacity-80 italic line-clamp-1">
              {{ item.replyMessageContent }}
            </span>
          </div>
          <span class="break-words block leading-relaxed">
            {{ item.content }}
          </span>

          <div class="flex justify-end items-center gap-1 mt-1">
            <span class="text-[10px] text-gray-500 opacity-70">
              {{ item.createdDate | date: "HH:mm" }}
            </span>
          </div>
        </div>
         @if (item.senderId !== authService.currentLoggedUser?.id) {
          <span class="text-gray-400 hover:text-primary mb-2 transition-colors">
            <mat-icon
              (click)="addReplyMessage(item)"
              class="cursor-pointer text-[20px] w-[20px] h-[20px]"
              >reply</mat-icon
            >
          </span>
        }
      </div>
    </div>
  </div>
</div>
