.chat-section {
  height: calc(100vh - 150px);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.messageReceiver {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.chat-box {
    scroll-behavior: smooth;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.chat-box::-webkit-scrollbar{
    width: 0;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  min-width: 30%;
  margin-bottom: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.myMessage {
  align-self: flex-end;

  .messageText {
    background-color: #1e3a8a !important;
    color: white;
    border-radius: 10px 10px 0 10px;
    font-size: 14px;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
  .messageMe {
    margin-top: 10px; 
    text-align: left;
    font-size: 10px;
    color: #e8f0fe;
  }
}

.theirMessage {
  align-self: flex-start;

  .messageText {
    background-color: #e8f0fe;
    color: black;
    border-radius: 10px 10px 10px 0;
    font-size: 14px;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }

  .messageMe {
    text-align: right;
    font-size: 10px;
    color: #383838;
    margin-top: 10px; 
  }
}

.date-sizing {
  font-size: 12px;
}

.emojiFonts {
  font-family: "Inter", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji",
    "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji" !important;
}
