<div class="chat-section flex flex-col">
  <div
    #messageScroll
    class="w-full messageReceiver flex flex-col chat-box overflow-y-auto"
  >
    <div
      class="p-2 message mb-2"
      *ngFor="let item of chatService.chatMessages(); let i = index"
      [ngClass]="{
        myMessage: item.senderId === authService.currentLoggedUser?.id,
        theirMessage: item.senderId !== authService.currentLoggedUser?.id
      }"
    >
      <div class="b-radius p-2 messageText emojiFonts">
        {{ item.content }}
        <div class="messageMe text-gray-500 text-sm">
          {{ item.createdDate | date : "HH:mm" }}
        </div>
      </div>
    </div>
  </div>
</div>
