<div class="flex flex-col">
  <div class="sidebar-header">
    <img
      [src]="
        user?.profileImage ||
        'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'
      "
      alt="Profile picture"
      [width]="profileImageSize()"
      [height]="profileImageSize()"
    />
    <div class="header-text" [class.hide-header-text]="sidebarCollapsed()">
      <h2>Your account</h2>
      <p>{{ user?.name + " " + user?.surname }}</p>
    </div>
  </div>
  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let item of menuItems()"
      [routerLink]="item.route"
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [activated]="rla.isActive"
    >
      <mat-icon class="flex justify-center" matListItemIcon>{{
        item.icon
      }}</mat-icon>
      <span matListItemTitle *ngIf="!sidebarCollapsed()">{{ item.label }}</span>
    </a>
  </mat-nav-list>

  <span class="text-muted text-sm mt-4 ms-2">Admin items</span>
  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let item of adminItems()"
      [routerLink]="item.route"
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [activated]="rla.isActive"
    >
      <mat-icon class="flex justify-center" matListItemIcon>{{
        item.icon
      }}</mat-icon>
      <span matListItemTitle *ngIf="!sidebarCollapsed()">{{ item.label }}</span>
    </a>
  </mat-nav-list>
</div>
