:host * {
    transition: all 250ms ease-in-out;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-header {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    padding-top: 24px;
    text-align: center;

    > img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .header-text {
        height: 3rem;

        > h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: bold;
        }

        > p {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
        }
    }
}

.hide-header-text {
    opacity: 0;
    height: 0px;
}

.selected-menu-item {
    border-left: 2px solid;
    border-left-color: #1e3a8a;
}

a.selected-menu-item mat-icon {
  color: #1e3a8a;
}