<div class="relative h-full w-full">
  <video
    class="w-32 absolute right-5 top-4 object-cover border-gray-500 border-2 rounded-lg"
    #localVideo
    autoplay
    playsInline
  ></video>
  <video
    class="w-full h-full object-cover bg-slate-800"
    #remoteVideo
    autoplay
    playsInline
  ></video>
  <div
    class="absolute bottom-10 left-0 right-0 z-50 flex justify-center space-x-3 p-4"
  >
    @if (this.signalRService.incomingCall) {
    <button
      class="bg-green-500 flex items-center gap-2 hover:bg-gray-700 shadow-xl text-white font-bold py-2 px-4 rounded-full"
      (click)="acceptCall()"
    >
      <mat-icon> call </mat-icon>
      Accept
    </button>
    <button
      class="bg-red-500 flex items-center gap-2 hover:bg-gray-700 shadow-xl text-white font-bold py-2 px-4 rounded-full"
      (click)="declineCall()"
    >
      <mat-icon> call_end </mat-icon>
      Decline
    </button>
    }
    @if (!this.signalRService.incomingCall && !this.signalRService.isCallActive) {
        <button
      class="bg-green-500 flex items-center gap-2 hover:bg-gray-700 shadow-xl text-white font-bold py-2 px-4 rounded-full"
      (click)="startCall()"
    >
      <mat-icon> call </mat-icon>
      Start Call
    </button>
    }

    @if (!this.signalRService.incomingCall) {
        <button
      class="bg-red-500 flex items-center gap-2 hover:bg-red-700 shadow-xl text-white font-bold py-2 px-4 rounded-full"
      (click)="endCall()"
    >
      <mat-icon> call_end </mat-icon>
      End Call
    </button>
    }
  </div>
</div>
