:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  height: calc(100dvh - 3.25rem - env(safe-area-inset-top));
  
  min-height: 0;
  overflow: hidden; 
}

@media (min-width: 768px) {
  .right-sidebar {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
  }

  .right-sidebar.open {
    width: 30%;
    min-width: 300px;
  }
}